<div fxLayout="column" fxLayoutAlign="start">
  <div class="header">
    <h1>
      {{ 'dashboard.header_content.header_title' | ddxLocale }}
    </h1>
    <h3>{{ 'dashboard.header_content.header_subtitle' | ddxLocale }}</h3>
  </div>
  <div
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutGap="20px"
    fxLayoutAlign="start"
    class="investment-header"
  >
    <div
      fxFlex="30"
      fxFlex.sm="100"
      fxFlex.xs="100"
      class="investment-header-content"
    >
      <h2>{{ 'dashboard.hero_content.hero_title' | ddxLocale }}</h2>
      <h2 class="highlighted">
        {{ 'dashboard.hero_content.hero_title_highlighted' | ddxLocale }}
      </h2>
      <p>
        {{ 'dashboard.hero_content.hero_paragraph' | ddxLocale }}
      </p>
    </div>

    <!-- carousel starts here -->

    <div id="carousel-wrapper" fxFlex="70">
      <owl-carousel
        [options]="CarouselOptions"
        [items]="funds"
        [carouselClasses]="['owl-theme', 'sliding']"
      >
        <div class="item" *ngFor="let fun of funds">
          <div class="item-carousels">
            <div id="item-carousels-wrapper">{{ fun.name }}</div>
            <div
              fxLayout="row"
              fxLayoutAlign="start"
              id="item-carousels-inner-wrapper"
            >
              <div fxFlex="50" fxLayout="row" fxLayoutAlign="start">
                <img
                  [src]="
                    'https://devapi.didex.com/' +
                    fun.fundCurrencyShortName.trim() +
                    '.svg'
                  "
                  alt=""
                  width="25px"
                  height="25px"
                />
                <span>{{ fun.fundCurrencyShortName.trim() }}</span>
              </div>
              <div fxFlex="50">
                {{ fun.minimumFund }}-{{ fun.maximumFund }}
                <b id="fund-currency-short-name">{{
                  fun.fundCurrencyShortName
                }}</b>
              </div>
            </div>
            <!-- circle starts here -->
            <div class="box">
              <div class="progress-bar-circle">
                <svg>
                  <circle cx="65" cy="65" r="65"></circle>
                  <circle cx="65" cy="65" r="65"></circle>
                  <circle cx="65" cy="65" r="65"></circle>
                  <circle cx="65" cy="65" r="65"></circle>
                </svg>
                <div class="number">
                  <h2>
                    {{ fun.fixedInterest
                    }}<span id="carousel-card__percent">%</span>
                    <br />
                    <span>{{
                      fun.type === fundsEnum.Fixed
                        ? 'Annualized'
                        : 'Estimated Annual'
                    }}</span>
                  </h2>
                  <br />
                </div>
              </div>
            </div>
            <!-- circle ends here -->
            <div
              fxLayout="row"
              class="card-content-duration"
              fxLayoutAlign="center"
            >
              <div fxFlex="30">
                {{
                  'dashboard.carousel_content.carousel_card_duration'
                    | ddxLocale
                }}
              </div>
              <div fxFlex="70">
                {{ fun.yearsDisplay }}{{ fun.monthsDisplay
                }}{{ fun.daysDisplay }}
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" class="card-content">
              <div fxFlex="80" id="plan-style">
                <b
                  >{{ fundsEnum[fun.type] }}
                  {{
                    'dashboard.carousel_content.carousel_card_plan_type'
                      | ddxLocale
                  }}</b
                >
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start" class="card-content">
              <div fxFlex="100">
                <button
                  mat-raised-button
                  color="primary"
                  class="button-carousels"
                  (click)="openDialog(fun)"
                >
                  {{
                    'dashboard.carousel_content.carousel_card_subscribe_button'
                      | ddxLocale
                  }}
                </button>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" class="card-content">
              <div fxFlex="100">
                <mat-accordion>
                  <mat-expansion-panel
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{
                          'dashboard.carousel_content.expansion_panel_button_text'
                            | ddxLocale
                        }}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div
                      class="expansion-panel-content"
                      fxLayout="row"
                      fxLayoutAlign="start"
                    >
                      <div fxFlex="40">
                        {{
                          'dashboard.carousel_content.expansion_panel_content_total_supply'
                            | ddxLocale
                        }}
                      </div>
                      <div fxFlex="60">
                        {{ fun.totalSupply }}
                        <b>{{ fun.fundCurrencyShortName }}</b>
                      </div>
                    </div>
                    <div
                      class="expansion-panel-content"
                      fxLayout="row"
                      fxLayoutAlign="start"
                    >
                      <div fxFlex="40">
                        {{
                          'dashboard.carousel_content.expansion_panel_content_expiration_date'
                            | ddxLocale
                        }}
                      </div>
                      <div fxFlex="60">
                        {{ fun.expirationDate | date: 'mediumDate' }}
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </div>
        </div>
      </owl-carousel>
    </div>
  </div>
  <div class="tableDesign">
    <div class="table-header">
      {{ 'dashboard.table_content.table_header_text' | ddxLocale }}
    </div>
    <div class="mat-elevation-z8">
      <ng-template [ngIf]="isAuthorized" [ngIfElse]="notAuthorized">
        <div class="table-container">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="timeStamp">
              <th mat-header-cell *matHeaderCellDef>Date</th>
              <td mat-cell *matCellDef="let element">
                {{ element.timeStamp | date: 'medium' }}
              </td>
            </ng-container>

            <ng-container matColumnDef="fundName">
              <th mat-header-cell *matHeaderCellDef>Plan</th>
              <td mat-cell *matCellDef="let element">{{ element.fundName }}</td>
            </ng-container>

            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element">
                {{ investRecordType[element.type] }}
              </td>
            </ng-container>

            <ng-container matColumnDef="brfore">
              <th mat-header-cell *matHeaderCellDef>Before</th>
              <td mat-cell *matCellDef="let element">{{ element.brfore }}</td>
            </ng-container>

            <ng-container matColumnDef="after">
              <th mat-header-cell *matHeaderCellDef>After</th>
              <td mat-cell *matCellDef="let element">{{ element.after }}</td>
            </ng-container>

            <ng-container matColumnDef="accrued">
              <th mat-header-cell *matHeaderCellDef>Sum Accrued</th>
              <td mat-cell *matCellDef="let element">{{ element.accrued }}</td>
            </ng-container>

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>
                {{
                  'dashboard.table_content.table_close_investment_button_text'
                    | ddxLocale
                }}
              </th>
              <td mat-cell *matCellDef="let element">
                <button
                  class="close-button"
                  *ngIf="element.needButton"
                  mat-stroked-button
                  color="warn"
                  (click)="closeDialog(element.fundId)"
                >
                  <mat-icon
                    class="close-button__icon"
                    aria-hidden="false"
                    aria-label="Example home icon"
                    >close</mat-icon
                  >{{
                    'dashboard.table_content.table_close_investment_button_text'
                      | ddxLocale
                  }}
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
        <mat-paginator
          class="table-footer"
          [pageSizeOptions]="paginatorSizeOptions"
        ></mat-paginator>
      </ng-template>
      <ng-template #notAuthorized>
        <div class="auth-message-container">
          <h3>
            {{ 'dashboard.table_content.not_authorized_message' | ddxLocale }}
          </h3>
          <a
            class="auth-button"
            routerLink="/external-redirect"
            [queryParams]="{ redirect_url: '/auth/signin', from: '/invest' }"
          >
            <button mat-raised-button color="primary">
              {{
                'dashboard.table_content.not_authorized_button_text' | ddxLocale
              }}
            </button>
          </a>
        </div>
      </ng-template>
    </div>
  </div>
</div>
