<div fxLayout="row" fxLayoutAlign="end stretch" style=" background-color: #00124B;padding: 10px;">
  <div fxFlexAlign="start"  fxFlex="20" >
    <img src="/assets/logo-white-symbol.svg" alt="" width="50" style="margin: 0 3px;">
    <img src="/assets/logo-white-text.svg" alt="" class="display-hide-logo" width="70" style="margin-bottom: 7px;">
  </div>
<div  fxFlex="80" fxLayoutAlign="end stretch" class="display-hide">
  <button mat-button [matMenuTriggerFor]="menu">
    English
    <mat-icon>expand_more</mat-icon>
  </button>
  <mat-menu #menu="matMenu" >
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
<button mat-button [matMenuTriggerFor]="belowMenu">
  <mat-icon >headset_mic</mat-icon>Support
  </button>
<mat-menu #belowMenu="matMenu" >
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
  <button mat-button [matMenuTriggerFor]="beforeMenu">
    <mat-icon>person_outline</mat-icon>Hello, nasim <mat-icon>expand_more</mat-icon>
  </button>
  <mat-menu #beforeMenu="matMenu" >
    <button mat-menu-item style="height: auto;">
      <div fxLayout="column" fxLayoutAlign="start stretch" >
      <div>Hello Nasim</div>
      <div>Nasim.mosaei@gmail.com</div>
      </div>
    </button>
    <hr>
    <button mat-menu-item>General Settings</button>
    <button mat-menu-item>Security</button>
    <button mat-menu-item>KYC</button>
    <button mat-menu-item ><button style="width: 100%;" class="mat-button mat-button-base mat-accent">Sign Out</button></button>
  </mat-menu>
<button mat-button [matMenuTriggerFor]="mainMenu" aria-label="Example icon-button with a menu">
  <mat-icon>apps</mat-icon>
</button>
<mat-menu #mainMenu="matMenu">
  <button mat-menu-item>
    <span>Trade</span>
  </button>
  <button mat-menu-item>
    <span>Academy</span>
  </button>
  <button mat-menu-item>
    <span>Invest</span>
  </button>
</mat-menu>
</div>
  <div  fxFlex="80" fxLayoutAlign="end stretch" class="display-show">
    <button mat-button [matMenuTriggerFor]="afterMenu">
      <mat-icon>notifications_none</mat-icon>
    </button>
    <mat-menu #afterMenu="matMenu" >
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="mainMenu" aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #mainMenu="matMenu">
      <button mat-menu-item>
        <span>Trade</span>
      </button>
      <button mat-menu-item >
        <span>Academy</span>
      </button>
      <button mat-menu-item>
        <span>Invest</span>
      </button>
    </mat-menu>
  </div>
</div>
