<h1 mat-dialog-title>
  <b>Close Investment</b>
</h1>
<div mat-dialog-content>
  <p>
    Would you want to close your investment fund?<br />It cause you will lost
    your profits which is you've earned.
  </p>
  <p>Are you sure to close?</p>
</div>
<mat-error *ngIf="amountError">{{ showError }}</mat-error>
<mat-error *ngIf="errorVariable">{{ showError }}</mat-error>
<div mat-dialog-actions>
  <div
    fxLayout="row"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    id="button-container"
  >
    <div fxFlex="100">
      <button
        id="no-button-styles"
        class="button-fonts"
        mat-stroked-button
        (click)="onNoClick()"
      >
        No, I'm Not Sure
      </button>
    </div>
    <div fxFlex="100">
      <button
        class="button-fonts"
        mat-raised-button
        color="primary"
        (click)="closePost()"
      >
        Yes, I'm Sure
      </button>
    </div>
  </div>
</div>
