<h1 mat-dialog-title>
  <b>
    {{ 'dashboard.close_modal_content.close_modal_header' | ddxLocale }}  </b>
</h1>
<div mat-dialog-content>
  <p>
    {{ 'dashboard.close_modal_content.close_modal_message' | ddxLocale }}
  </p>
  <p>
    {{ 'dashboard.close_modal_content.close_modal_making_sure_message' | ddxLocale }}
  </p>
</div>
<mat-error *ngIf="amountError">{{ showError }}</mat-error>
<mat-error *ngIf="errorVariable">{{ showError }}</mat-error>
<div mat-dialog-actions>
  <div
    fxLayout="row"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    id="button-container"
  >
    <div fxFlex="100">
      <button
        id="no-button-styles"
        class="button-fonts"
        mat-stroked-button
        (click)="onNoClick()"
      >
        {{ 'dashboard.close_modal_content.close_modal_button_text_1' | ddxLocale }}
      </button>
    </div>
    <div fxFlex="100">
      <button
        class="button-fonts"
        mat-raised-button
        color="primary"
        (click)="closePost()"
      >
        {{ 'dashboard.close_modal_content.close_modal_button_text_2' | ddxLocale }}
      </button>
    </div>
  </div>
</div>
