.header {
  padding: 0 20px;
  text-align: center;
  background-color: #162a6d;
  margin-bottom: 10px;
}

/* glow dots start here */

.glow {
  z-index: 1;
}

.glow div:nth-child(1) {
  position: absolute;
  top: 23%;
  left: 30%;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: rgb(218, 216, 216);
  box-shadow:
    0 0 4px 4px rgb(116, 132, 160)
    /* 0 0 100px 60px #f0f,
    0 0 140px 90px #0ff; */
}

.glow div:nth-child(2) {
  position: absolute;
  top: 23%;
  left: 40%;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: rgb(218, 216, 216);
  box-shadow:
    0 0 3px 3px rgb(116, 132, 160)
    /* 0 0 100px 60px #f0f,
    0 0 140px 90px #0ff; */
}

.glow div:nth-child(3) {
  position: absolute;
  top: 23%;
  left: 45%;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: rgb(218, 216, 216);
  box-shadow:
    0 0 2px 2px rgb(116, 132, 160);
    /* 0 0 100px 60px #f0f,
    0 0 140px 90px #0ff; */
}

.glow div:nth-child(4) {
  position: absolute;
  top: 30%;
  right: 45%;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: rgb(218, 216, 216);
  box-shadow:
    0 0 2px 2px rgb(116, 132, 160)
    /* 0 0 100px 60px #f0f,
    0 0 140px 90px #0ff; */
}

.glow div:nth-child(5) {
  position: absolute;
  top: 35%;
  right: 35%;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: rgb(218, 216, 216);
  box-shadow:
    0 0 3px 3px rgb(116, 132, 160);
}

.header h1 {
  margin: auto;
  font-size: 74px;
  font-weight: 600;
  padding-top: 40px;
  line-height: 100px;
  z-index: 2;
}

.header h3 {
  margin: auto;
  font-size: 38px;
  font-weight: lighter;
  color: #f5aa28;
  padding-bottom: 40px;
  line-height: 3rem;
  z-index: 2;
}

.investment-header {
  width: 80%;
  margin: auto;
  padding: 30px 0;
  margin-bottom: 20px;
}

.investment-header-content {
  padding-right: 20px;
}

.investment-header-content h2:nth-child(2) {
  color: #f5aa28;
}

.investment-header-content h2 {
  margin: auto;
  font-size: 42px;
  font-weight: 600;
  line-height: 60px;
  text-transform: capitalize;
}

.investment-header-content p {
  font-size: 14px;
}

.mat-expansion-panel-header {
  font-family: overpass, 'Helvetica Neue', sans-serif;
}

.mat-expansion-panel-header-title {
  justify-content: end;
  padding-top: 4px;
}

.mat-expansion-panel {
  background: none;
}

.item-carousels {
  /* padding: 10px; */
  font-size: 12px;
  align-content: center;
  border: 1px solid white;
  border-radius: 8px;
  margin: 0 5px;
}

#item-carousels-wrapper {
  border-bottom: 1px solid white;
  padding-left: 20px;
  margin-bottom: 5px;
  line-height: 30px;
  font-size: 14px;
}

#item-carousels-inner-wrapper {
  padding: 10px;
}

#item-carousels-inner-wrapper div {
  font-size: 16px;
}

#item-carousels-inner-wrapper div:nth-child(2) {
  text-align: right;
}

/* progress bar starts here */
.box {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: transparent;
}

.percent {
  position: relative;
  width: 150px;
  height: 150px;
}

.box .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
}

.box .percent svg circle {
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 3;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
}

.box .percent svg circle:nth-child(1) {
  stroke-dashoffset: 90;
  stroke: #f5aa28;
}

.box .percent svg circle:nth-child(2) {
  stroke-dashoffset: 100;
  stroke: #0d2161;
  stroke-width: 5px;
}

.box .percent svg circle:nth-child(3) {
  stroke-dashoffset: 510;
  stroke: #f5aa28;
}

.box .percent svg circle:nth-child(4) {
  stroke-dashoffset: 110;
  stroke: #f5aa28;
}

.box .percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.box .percent .number h2 {
  font-size: 48px;
  font-weight: lighter;
  line-height: 10px;
}

.box .percent .number h2 span {
  font-size: 11px;
}

/* progress bar ends here */

.card-content {
  padding: 0 10px;
  line-height: 15px;
}

#percent {
  color: #f5aa28;
  font-size: 1rem;
  text-align: right;
}

#plan-style {
  color: #f5aa28;
  text-align: center;
  font-weight: lighter;
}

.mat-expansion-panel {
  font-size: 10px;
}

.mat-expansion-panel-body {
  padding: 0;
}

.button-carousels {
  margin-top: 5px;
  width: 100%;
  border-radius: 5px;
  line-height: 27px;
}

.table-header {
  border-bottom: 1px solid white;
  padding: 25px;
  text-align: left;
}

.table-footer {
  background-color: #0d2161;
  border-radius: 10px;
}

table {
  min-width: 1000px;
  width: 100%;
}

.tableDesign {
  box-shadow: none;
  border: 1px solid white;
  border-radius: 8px;
  margin: 20px auto;
  border-spacing: unset;
  text-align: center;
  min-width: 1000px;
  width: 80%;
}

/* td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  text-align: center;
} */

.mat-icon {
  padding-top: 5px;
}

.close-button {
  font-weight: lighter;
  font-size: 13px;
}

.mat-stroked-button {
  padding: 1px 7px;
  line-height: 20px;
}

.mat-row {
  line-height: 48px;
}

.table-header {
  padding: 15px 25px;
  font-weight: 500;
}

.mat-header-row {
  line-height: 55px;
}

.mat-row, .mat-header-row {
  min-width: 1200px;
}

td.mat-cell {
  text-align: left;
}

th.mat-header-cell {
  text-align: left;
}

@media only screen and (max-width: 768px) {
  /* For Mobile: */

  .header h1 {
    font-size: 46px;
    padding-top: 30px;
    line-height: 80px;
  }
  
  .header h3 {
    font-size: 24px;
    padding-bottom: 30px;
    line-height: 2.5rem;
    
  }

  .investment-header-content h2 {
    margin-bottom: 10px;
    font-size: 28px;
    line-height: 30px;
  }
  
  .investment-header-content p {
    font-size: 13px;
  }
  
}