<div fxLayout="column" fxLayoutAlign="start stretch">
  <div class="header">
    <div class="glow">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <h1>Didex Invest</h1>
    <h3>The Simple Way To Earn</h3>
  </div>
  <div
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutGap="55px"
    fxLayoutAlign="start stretch"
    class="investment-header"
  >
    <div
      fxFlex="29.5"
      fxFlex.sm="100"
      fxFlex.xs="100"
      class="investment-header-content"
    >
      <h2>select your</h2>
      <h2>investment plan</h2>
      <p>
        To invest your funds in an investment plan you must have funds on the
        main balance. Each investment plan is created for its interest and
        duration. If you withdraw funds from the investment plan earlier than
        required, interest will not be charged.
      </p>
    </div>
    <div fxFlex="70" fxFlex.sm="100" fxFlex.xs="100">
      <owl-carousel
        [options]="CarouselOptions"
        [items]="funds"
        [carouselClasses]="['owl-theme', 'sliding']"
      >
        <div class="item" *ngFor="let fun of funds">
          <div class="item-carousels">
            <div id="item-carousels-wrapper">{{ fun.name }}</div>
            <div
              fxLayout="row"
              fxLayoutAlign="start stretch"
              id="item-carousels-inner-wrapper"
            >
              <div fxFlex="50">hi</div>
              <div fxFlex="50">
                {{ fun.minimumFund }}-{{ fun.maximumFund }}
                <b style="color: #f5aa28;">{{ fun.fundCurrencyShortName }}</b>
              </div>
            </div>
            <!-- progressbar starts here -->
            <div class="box">
              <div class="percent">
                <svg>
                  <circle cx="65" cy="65" r="65"></circle>
                  <circle cx="65" cy="65" r="65"></circle>
                  <circle cx="65" cy="65" r="65"></circle>
                  <circle cx="65" cy="65" r="65"></circle>
                </svg>
                <div class="number">
                  <h2>
                    {{fun.fixedInterest}}<span id="percent">%</span>
                    <br />
                    <span>Per Day In Year</span>
                  </h2>
                  <br />
                </div>
              </div>
            </div>
            <!-- progressbar ends here -->

            <!-- <div fxLayout="row" fxLayoutAlign="center stretch" >
              <div fxFlex="80">{{fun.fixedInterest}}% Per Year In Week</div>
            </div> -->
            <div fxLayout="row" fxLayoutAlign="center stretch">
              <div fxFlex="40">Duration</div>
              <div fxFlex="40" style="text-align: right;">
                {{fun.yearsDisplay}}{{fun.monthsDisplay}}{{fun.daysDisplay}}
              </div>
            </div>
            <div
              fxLayout="row"
              fxLayoutAlign="center stretch"
              class="card-content"
            >
              <div fxFlex="80" id="plan-style">
                <b>{{ fundsEnum[fun.type] }} Plan</b>
              </div>
            </div>
            <div
              fxLayout="row"
              fxLayoutAlign="start stretch"
              class="card-content"
            >
              <div fxFlex="100">
                <button
                  mat-raised-button
                  color="primary"
                  class="button-carousels"
                  (click)="openDialog(fun)"
                >
                  Subscribe
                </button>
              </div>
            </div>
            <div
              fxLayout="row"
              fxLayoutAlign="center stretch"
              class="card-content"
            >
              <div fxFlex="100">
                <mat-accordion>
                  <mat-expansion-panel
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false"
                  >
                    <mat-expansion-panel-header style="text-align: center;">
                      <mat-panel-title style="text-align: center;">
                        More
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div fxLayout="row" fxLayoutAlign="start stretch">
                      <div fxFlex="50">Total Supply</div>
                      <div fxFlex="50" style="text-align: right;">
                        {{ fun.totalSupply }}
                        <b>{{ fun.fundCurrencyShortName }}</b>
                      </div>
                    </div>
                    <div
                      fxLayout="row"
                      fxLayoutAlign="start stretch"
                      style="font-size: 10px;"
                    >
                      <div fxFlex="50">Expiration Date</div>
                      <div fxFlex="50" style="text-align: right;">
                        {{ fun.expirationDate }}
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </div>
        </div>
      </owl-carousel>
    </div>
  </div>
  <div class="tableDesign" style="overflow: auto;">
    <div class="table-header">
      My Investment History
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="timeStamp">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">{{ element.timeStamp }}</td>
        </ng-container>

        <ng-container matColumnDef="fundName">
          <th mat-header-cell *matHeaderCellDef>Plan</th>
          <td mat-cell *matCellDef="let element">{{ element.fundName }}</td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            {{ investRecordType[element.type] }}
          </td>
        </ng-container>

        <ng-container matColumnDef="brfore">
          <th mat-header-cell *matHeaderCellDef>Before</th>
          <td mat-cell *matCellDef="let element">{{ element.brfore }}</td>
        </ng-container>

        <ng-container matColumnDef="after">
          <th mat-header-cell *matHeaderCellDef>After</th>
          <td mat-cell *matCellDef="let element">{{ element.after }}</td>
        </ng-container>

        <ng-container matColumnDef="accrued">
          <th mat-header-cell *matHeaderCellDef>Sum Accrued</th>
          <td mat-cell *matCellDef="let element">{{ element.accrued }}</td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Close Investment</th>
          <td mat-cell *matCellDef="let element">
            <button
              *ngIf="element.needButton"
              mat-stroked-button
              color="warn"
              (click)="closeDialog(element.fundId)"
            >
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                style="font-size: 20px;"
                >close</mat-icon
              >Close
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        class="table-footer"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</div>
