@import '../../styles.scss';

.header {
  padding: 30px 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #162a6d;
  margin-bottom: 30px;
  position: relative;

  h1 {
    font-size: 46px;
    line-height: 46px;
    font-weight: 500;
    margin-bottom: 10px;
    z-index: 1;
  }

  h3 {
    margin: auto;
    font-size: 23px;
    line-height: 23px;
    font-weight: 200;
    color: $ddx-yellow;
    z-index: 1;
  }
}

/* glow dots start here */

.glow {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.glow div:nth-child(1) {
  position: absolute;
  top: 23%;
  left: 30%;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  box-shadow: 0 0 10px 3px rgb(116, 132, 160);
}

.glow div:nth-child(2) {
  position: absolute;
  top: 28%;
  left: 40%;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  box-shadow: 0 0 6px 3px rgb(116, 132, 160);
}

.glow div:nth-child(3) {
  position: absolute;
  top: 77%;
  left: 45%;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px rgb(116, 132, 160);
}

.glow div:nth-child(4) {
  position: absolute;
  top: 46%;
  right: 45%;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px rgb(116, 132, 160);
}

.glow div:nth-child(5) {
  position: absolute;
  top: 35%;
  right: 35%;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  box-shadow: 0 0 6px 3px rgb(116, 132, 160);
}

.investment-header {
  width: 80%;
  margin: 10px auto 70px auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}

.investment-header-content {
  padding-right: 10px;

  h2 {
    margin: auto;
    font-size: 30px;
    font-weight: 500;
    line-height: 50px;
    text-transform: capitalize;

    &.highlighted {
      color: $ddx-yellow;
    }
  }

  p {
    font-size: 14px;
    line-height: 23px;
    text-align: justify;
  }
}

.item-carousels {
  /* padding: 10px; */
  font-size: 12px;
  align-content: center;
  border: 1px solid $ddx-light;
  border-radius: 8px;
  margin: 0 5px;
}

#item-carousels-wrapper {
  border-bottom: 1px solid $ddx-light;
  padding-left: 20px;
  margin-bottom: 5px;
  line-height: 30px;
  font-size: 14px;
}

#item-carousels-inner-wrapper {
  padding: 10px;
}

#item-carousels-inner-wrapper div {
  font-size: 16px;
}

#item-carousels-inner-wrapper div:nth-child(2) {
  text-align: right;
}

#fund-currency-short-name {
  color: $ddx-yellow;
}

/* progress bar starts here */
.box {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: transparent;
}

.percent {
  position: relative;
  width: 150px;
  height: 150px;
}

.box .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
}

.box .percent svg circle {
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 3;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
}

.box .percent svg circle:nth-child(1) {
  stroke-dashoffset: 90;
  stroke:$ddx-yellow;
}

.box .percent svg circle:nth-child(2) {
  stroke-dashoffset: 100;
  stroke: #0d2161;
  stroke-width: 5px;
}

.box .percent svg circle:nth-child(3) {
  stroke-dashoffset: 510;
  stroke: $ddx-yellow;
}

.box .percent svg circle:nth-child(4) {
  stroke-dashoffset: 110;
  stroke:$ddx-yellow;
}

.box .percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $ddx-light;
}

.box .percent .number h2 {
  font-size: 48px;
  font-weight: lighter;
  line-height: 10px;
}

.box .percent .number h2 span {
  font-size: 11px;
}

/* progress bar ends here */

.card-content {
  padding: 0 10px;
  line-height: 15px;
}

#percent {
  color: $ddx-yellow;
  font-size: 1rem;
  text-align: right;
}

#plan-style {
  color: $ddx-yellow;
  text-align: center;
  font-weight: lighter;
}

.card-content-duration div {
  padding: 0px 10px;
}

.card-content-duration div:nth-child(2) {
  text-align: right;
}

/* expansion panel starts here */

.mat-expansion-panel {
  font-size: 10px;
  background: none;
}

.mat-expansion-panel-header {
  font-family: overpass, 'Helvetica Neue', sans-serif;
  max-width: 55px;
  margin: 0 auto;
}

.mat-expansion-panel-header-title {
  justify-content: end;
  padding-top: 4px;
}

.mat-expansion-panel-body {
  padding: 0;
}

.expansion-panel-content div:nth-child(1){
  font-size: 10px;
}

.expansion-panel-content div:nth-child(2){
  font-size: 12px;
  text-align: right;
}

/* expansion panel ends here */

.button-carousels {
  margin-top: 5px;
  width: 100%;
  border-radius: 5px;
  line-height: 27px;
}

.table-header {
  border-bottom: 1px solid $ddx-light;
  padding: 25px;
  text-align: left;
}

.table-footer {
  background-color: #0d2161;
  border-radius: 10px;
}

.table-container {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

table {
  min-width: 750px;
  width: 100%;
  box-sizing: border-box;
}

.auth-message-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;

  h3 {
    text-align: center;
    line-height: 20px;
    margin-bottom: 15px;
  }
}

.tableDesign {
  border: 1px solid $ddx-light;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 20px auto;
  width: 80%;
}

/* td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  text-align: center;
} */

.mat-icon {
  padding-top: 5px;
}

.mat-stroked-button.close-button {
  font-weight: lighter;
  font-size: 13px;
  border-color: $ddx-red;

  .close-button__icon {
    font-size: 13px;
    line-height: 13px;
    width: unset;
    height: unset;
    padding: 0;
  }
}

.mat-stroked-button {
  padding: 1px 7px;
  line-height: 20px;
}

.mat-row {
  line-height: 48px;
}

.table-header {
  padding: 15px 25px;
  font-weight: 500;
}

.mat-header-row {
  line-height: 55px;
}

.mat-row,
.mat-header-row {
  min-width: 1200px;
}

td.mat-cell {
  text-align: left;
}

th.mat-header-cell {
  text-align: left;
}

@media only screen and (max-width: 460px) {
  :host {
    .header {
      padding: 20px 10px;
      margin-bottom: 10px;

      h1 {
        font-size: 32px;
        line-height: 32px;
      }

      h3 {
        font-size: 18px;
        line-height: 18px;
      }
    }

    .investment-header {
      width: 90%;
      margin: 0 auto;
      padding: 10px 0;
      flex-direction: column;
    }

    .investment-header-content {
      padding-right: 0px;
      margin: 30px 0;
      text-align: center;

      h2 {
        font-size: 30px;
        line-height: 35px;
      }

      p {
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        padding-bottom: 20px;
      }
    }

    .highlighted {
      padding-bottom: 20px;
    }

    .item-carousels {
      margin: 0 40px;
    }
  }
}

@media only screen and (min-width: 768px) {
  
}
