@import 'assets/styles/reset';
@import 'assets/styles/kit';
@import 'assets/styles/constants';
@import 'assets/styles/colors';
@import 'assets/styles/segoe';
@import 'assets/styles/iransans';
@import 'assets/styles/OCR-A';

// @import 'https://overpass-30e2.kxcdn.com/overpass.css';

html,
body {
  height: auto;
}
body {
  margin: 0;
  background-color: #0d2161;
  color: $ddx-light;
  font-weight: lighter;
  line-height: 30px;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

* {
  scrollbar-color: rgba($ddx-light, 0.2) rgba($ddx-light, 0.1); /* thumb and track color */
  scrollbar-width: 5px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba($ddx-light, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba($ddx-light, 0.2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba($ddx-light, 0.3);
}

.owl-carousel .owl-item img {
  width: unset;
  margin-inline-end: 3px;
}

.center_owl_items {
  display: flex;
  justify-content: center;

  .owl-stage-outer {
    display: flex;
    justify-content: center;
  }
}

.owl-theme .owl-dots .owl-dot.active span {
  background: $ddx-yellow;
}

.mat-checkbox {
  .mat-checkbox-layout {
    white-space: normal;

    .mat-checkbox-label {
      line-height: 16px;
    }
  }
}

.mat-button,
.mat-raised-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button,
.mat-fab,
.mat-mini-fab {
}
.mat-table {
  background: #0d2161;
}
.mat-dialog-container {
  background-color: #0d2161;
  padding: 0 24px 24px 24px !important;
}
a {
  color: $ddx-light;

  &.modal-link {
    color: $ddx-yellow;
  }
}
.mat-dialog-content {
  overflow: unset !important;
}
.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
  background-color: #f5aa28;
  color: white;
}
.mat-button.mat-accent,
.mat-icon-button.mat-accent,
.mat-stroked-button.mat-accent {
  background-color: #047ff8;
  color: white;
}
.mat-menu-content:not(:empty) {
  background: $ddx-dark-lighter;
}
// @font-face {
//   font-family: overpass;
//   src: url(assets/font/overpass/overpass-regular.otf) format("opentype");
// }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
.mat-accordion > .mat-expansion-panel-spacing:last-child,
.mat-accordion
  > :last-child:not(.mat-expansion-panel)
  .mat-expansion-panel-spacing {
  background-color: #0d2161;
}
.mat-expansion-panel-header:not([aria-disabled='true']) {
  background-color: #0d2161;
}

.mat-expansion-panel
  .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled='true']),
.mat-expansion-panel
  .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled='true']),
.mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:hover:not([aria-disabled='true']) {
  background: #0d2161;
}
.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
}
.mat-expansion-panel-content {
  background: #0d2161;
}

.mat-expansion-panel-body {
  padding: 0 0 16px !important;
}

.cdk-global-scrollblock {
  position: static;
  width: 100%;
  overflow-y: hidden;
}

.mat-error {
  font-size: 12px;
  font-weight: normal;
}

// this media query is intended for removing horizontal scrolling only

@media only screen and (max-width: 400px) {
  ::ng-deep .owl-stage-outer {
    width: 290px;
  }
}

@media only screen and (max-width: 460px) {
  .owl-stage-outer {
    width: 350px;
  }

  ::ng-deep .owl-dot.active span {
    border-radius: 20px !important;
    width: 30px !important;
    transition: width 0.5s !important;
  }

  ::ng-deep .owl-item.active {
    max-width: 250px;
  }
}

@media only screen and (max-width: 960px) {
  .owl-stage-outer {
    min-width: 290px;
  }

  ::ng-deep .owl-dot.active span {
    border-radius: 20px !important;
    width: 30px !important;
    transition: width 0.5s !important;
  }

  ::ng-deep .owl-item.active {
    max-width: 320px;
  }
}

////////

.mat-form-field-wrapper {
  margin-top: 0.75em;
  margin-bottom: 0.25em;
  padding-bottom: 0.25em;
}

.mat-error {
  margin: 4px 0;
}

.mat-paginator-range-label {
  direction: ltr;
}

::ng-deep .mat-select-arrow {
  border: none;
  background-image: url(assets/icons/icon-arrow-down.svg);
  background-repeat: no-repeat;
  height: 7px;
  width: 12px;
}
